# --- Cổng host (expose ra ngoài) ---
BACKEND_HOST_PORT=
FRONTEND_HOST_PORT=

# --- Cổng trong container (app lắng nghe) ---
BACKEND_CONTAINER_PORT=
FRONTEND_CONTAINER_PORT=

# --- Database ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# --- Backend ---
TZ=Asia/Ho_Chi_Minh
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

# CORS_ORIGIN_REGEX=

MQTT_SERVER=

# --- Docker images ---
BACKEND_IMAGE=
FRONTEND_IMAGE=
